body {
    background-color: green;
    overflow-x: hidden;
}

.wrapper {
    background-color: black;
    margin-top: 10px;
    /*************************/
}
.wrapper_sub {
    background-color: white;
    max-width: 98.5%;
    padding: 60px 0 42.6% 0;
}

.wrapper_sub_first {
    background-color: red;
    margin-top: -60px;
    padding: 15px;
}

h5 {
    font-weight: 800;
}

.wrapper_sub_second_pos {
    margin-left: 1%;
    margin-top: 1%;
    /* margin-bottom: 6%; */
}

.wrapper_sub_second #speaker {
    width: 50px;
}

.wrapper_sub_second #speaker_title {
    margin-left: 13px;
    font-weight: 700;
}

.annoucement_details{
    margin-top: 3%;
}

.annoucement_details #speaker_title {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}

.annoucement_details > span {
    font-size: 15px !important;
}

a {
    font-size: 13px;
}

small, a {
    margin-left: 2.5%;
    margin-top: -4%;
}

small#date{
    color: darkgray !important;
    font-weight: 100;
}


.row_pos {
    margin-top: -3%;
}

.row_btwn {
    margin-top: 1%;
}

/* customised css of a global item */
.topnav {
    padding-top: 58px;
}