body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #F5D10D;
  }
  
  .topnav p {
      font-size: 14px;
      color: black;
      font-weight: bold;
  }

  .topnav > .misc-pic img {

    margin-bottom: 20px;
    border-radius: 50%;
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 25px ;
    padding-top: 13px;
    height: 60px;
    text-decoration: none;
    font-size: 17px;
    width: auto;
    white-space: nowrap;
  }

  .topnav a:nth-child(even) {
    background-color: #FBB117 !important;
  }
  
  .topnav a:hover {
 
    color: black;
  }
  
  .topnav a.active {

    color: white;
  }


  body {
    background-color: black;
    overflow-x: hidden;
}

.bottom-bubble img {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.hi-title {
    color: #FFFFFF;
    font-family: 'Pristina';
    font-size: 96px;
    margin-top: 6%;
    margin-left: 10%;
}

.hi-title h2 {
    font-size: 65px;
}

.admin-triangle  {
    background-image: url("../../pic/homepage_triangle.png");
    background-repeat: no-repeat;
    margin-left: 38%;

}


