body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden; 
    background-color: #F5D10D;
  }
  
  .topnav p {
      font-size: 14px;
      color: black;
      font-weight: bold;
  }

  .topnav > .misc-pic img {

    margin-bottom: 20px;
    border-radius: 50%;
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 25px ;
    padding-top: 13px;
    height: 60px;
    text-decoration: none;
    font-size: 17px;
    width: auto;
    /* height: 58px; */
    white-space: nowrap;
  }

  .topnav > a:nth-child(even)#main_link {
    background-color: #FBB117;
  }
  
  .topnav a:hover {
 
    color: black;
  }
  
  .topnav a.active {

    color: white;
  }
  
  /* drop down when <a> is being focused */
  
  .dropbtn {
    background-color: #FBB117;;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #FBB117;;
  }
  
  .dropdown {
    margin-top: -3.4em;
    float: right;
  }
  
  .dropdown-content  {
    display: none;
    position: absolute;
    position: fixed;
    background-color: transparent;
    overflow: auto;
    width: 23%;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    margin-left: -12%;
  }
  
  .dropdown-content a {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {
    display: inline-grid;
    margin-top: 3.5%;
    border-radius: 10px;
  }
