.dropbtn  {
    background-color: #F5D10D;
    color: white;
    padding: 16px;
    /* margin-top: 12px; */
    font-size: 16px;
    border: none;
    font-size: 14px;
    color: black;
    font-weight: bold;  
  }
  
  .dropdown {
    display: inline-block;
    float: right;
    position: initial !important;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 162px;
    width: 15px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: none; */
    z-index: 1;
  } 

  .dropdown-content .creation_acc {
    background-color: #1589FF;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .triangle-up {
    width: 0px;
    height: 0;
    margin-top: 8px;
    margin-left: 16px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #1589FF;
    background-color: transparent;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 13px;
    padding-top: 13%;
    padding-bottom: 0px;
    background-color: #F5F5F5 !important; 
  }

  .dropdown-content .creation_acc_stud {
    border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block; }
