/* body {
    background-color: black;
    overflow-x: hidden;
}

.bottom-bubble img {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.hi-title {
    color: #FFFFFF;
    font-family: 'Pristina';
    font-size: 96px;
    margin-top: 6%;
    margin-left: 10%;
}

.hi-title h2 {
    font-size: 65px;
}

.admin-triangle  {
    background-image: url("../../pic/homepage_triangle.png");
    background-repeat: no-repeat;
    margin-left: 38%;

}

.dropbtn  {
  background-color: #F5D10D;
  color: white;
  padding: 16px;
  margin-top: 12px;
  font-size: 16px;
  border: none;
  font-size: 14px;
  color: black;
  font-weight: bold;  
}


.dropdown {
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} 

.dropdown-content a {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 13px;
  padding-top: 7%;
  padding-bottom: 0px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; } */
