body {
    background-color: black;
    overflow-x: hidden;
}

.bottom-bubble img {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.hi-title {
    color: #FFFFFF;
    font-family: 'Pristina';
    font-size: 96px;
    margin-top: 6%;
    margin-left: 10%;
}

.hi-title h2 {
    font-size: 65px;
}

.admin-triangle  {
    background-image: url("../../pic/homepage_triangle.png");
    /* background-color: white; */
    background-repeat: no-repeat;
    margin-left: 38%;
    height: 200%;

}