body {
    background-color: green;
    overflow-x: hidden;
}

.wrapper {
    background-color: black;
    margin-top: 10px;
}
.wrapper_sub {
    background-color: white;
    max-width: 98.5%;
    padding: 60px 0 42.6% 0;
}

.wrapper_sub_first {
    background-color: red;
    margin-top: -60px;
    padding: 15px;
}

h5 {
    font-weight: 800;
}

.wrapper_sub_second_pos {
    margin-left: 1%;
    margin-top: 1%;
    /* margin-bottom: 6%; */
}

.wrapper_sub_second #speaker {
    width: 50px;
}

.wrapper_sub_second #speaker_title {
    margin-left: 13px;
    font-weight: 700;
}

.annoucement_details{
    margin-top: 3%;
}

.annoucement_details #speaker_title {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}

.annoucement_details > span {
    font-size: 15px !important;
}

small {
    margin-left: 10%;
    margin-top: -2%;
    font-style: normal;
    font-size: 85% !important;
}

a {
    margin-top: -4%;  
    font-size: 13px;
}

small#date{
    color: darkgray !important;
    font-weight: 100;
}

.row_pos {
    margin-top: -3%;
}

.row_btwn {
    margin-top: 1%;
}

/* customised css of a global item */
.topnav {
    padding-top: 58px;
}

.row {
    margin-left: -7px;
    /* margin-right: -7px; */
}


.column_content {
    margin-top: 30px;
}

.content_row {
    background-color: transparent !important;
    width: 101%;
}

.tutorial_thumbnail {
    background-color: #8470FF;
    margin-left: -3%;
    margin-right: 3%;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
    margin-top: -.7%;
}

.date {
    margin-left: 3%;
    margin-top: -1.6%;
    font-size: 12px;
    font-weight: 100;
}

.content_hr {
    background-color: #8470FF;
    padding: 0.2px;
    margin-left: 77px;
    margin-top: 0%;
    width: 37%;
}

.tutorial_p {
    font-size: 13px;
    width: 44%;
    margin-left: 13%;
}

h3.column_header {
    font-weight: bold;
}

.row.work{
    background-color: #C4C4C4 !important; 
    margin-left: 4%;
    border-radius: 10px;
    width: 92%;
}

.row.work img {
    height: 89px; 
    width: 89px; 
    margin-left: -50%;
}

.col.right {
    background-color: #8470FF; margin-right: 15px; padding-bottom: 100%;
}

.button {
    float: right;
    margin-top: 20%;
}

.button button {
    background-color: black;
    padding: 7px 20px;
    border-radius: 9px;
    border: none;
    font-weight: 700;
}
